body {
    background-color: lightseagreen;
}

main {
    font-size: 18px;
    margin: 20px;
    font-family: Lato;
}

h1 {
    text-align: center;
    margin: auto;
}

div {
    margin: auto;
    margin-top: 10px;
    max-width: 500px;
    background-color: whitesmoke;
    border-color: teal;
    border-style: solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 10);
    padding: 10px;
    padding-top: 30px
}

#submit {
    border-radius: 5px;
    background-color: lightseagreen;
    border-color: lightseagreen;
    width: 100px;
    height: auto;
    font-family: Lato;
}

footer {
    margin: auto;
    text-align: center;
    color: white;
    font-family: Lato;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    body {
        margin: auto;
    }
    div {
        margin: auto;
    }
}